<!--My layout page-->
<!DOCTYPE html>
<html>
  <head>
      <title>Password Strength Tester</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">This is the Password Strength Tester</h1>
        <strong><nav>
          <ul class="menu>
              <li><a href ="{{url_for('home')}}>home</a></li>
              <li><a href ="{{url_for('about')}}>about</a></li>
          </ul>
        </nav></strong>
      </div> 
    </header>
    <div class="container">    
        {%block content%}
        {%endblock%                
    </div>                
  </body>                
</htmlh>                
